{{define "block/form/post_create"}}
  <form action="/create-post">
    <select name="post_category" multiple>
      <option value="">--Please choose one or more option(s)--</option>
      {{range .Categories}}
        <option value="{{.ID}}">{{.Name}}</option>
      {{end}}
    </select>
    <label for="post-title">Title</label>
    <textarea class="post-title-area"id="post-title" name="post_title" required></textarea>
    <label for="post-content">Content</label>
    <textarea class="post-content-area"id="post-content" name="post_text" required></textarea>
    <button>Post!</button>
  </form>
{{end}}
