{{define "block/form/post-create"}}
  <form action="/create-post">
    <select name="post_category">
      <option value="">--Please choose an option--</option>
      {{ range .Category_ID }}
      <option value="{{ .Category_ID }}">{{ .Category_ID }}</option>
      {{ end }}
      <option value="cat">cat</option>
      <option value="dog">dog</option>
    </select>
    <a>Title</a><textarea name="post_title"></textarea>
    <a>Text</a><textarea name="post_text"></textarea>
    <button>Post</button>
  </form>
{{end}}
