{{define "block/form/register"}}

<!-- Register container with role and aria-labelledby -->
<div id="registerForm" class="container__block" role="form" aria-labelledby="form-container">

  <div class="container__block__main">

    <!-- Form title -->
    <h2 class="form__title">Register</h2>

    <!-- Left side: registration form -->
    <form class="form form__register" action="/register" aria-label="Register form" method="POST">
        <label for="register-username">Username</label>
        <input type="text" name="UsernameForm" id="register-username" placeholder="Username" required aria-required="true" required>
        {{ if ne .UserContent.Error.RegisterUsername "null" }}
            <span class="form__error">{{ .UserContent.Error.RegisterUsername }}</span>
        {{ end }}

        <label for="register-email">Email</label>
        <input type="text" name="EmailForm" id="register-email" placeholder="Email" required aria-required="true" required>
        {{ if ne .UserContent.Error.RegisterEmail "null" }}
            <span class="form__error">{{ .UserContent.Error.RegisterEmail }}</span>
        {{ end }}
        {{ if ne .UserContent.Error.EmailFormat "null" }}
            <span class="form__error">{{ .UserContent.Error.EmailFormat }}</span>
        {{ end }}                        

        <label for="register-password">Password</label>
        <input type="password" name="PasswordForm" id="register-password" placeholder="Password" required aria-required="true" required>
        {{ if ne .UserContent.Error.RegisterPassword "null" }}
            <span class="form__error">{{ .UserContent.Error.RegisterPassword }}</span>
        {{ end }}                        

        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="ConfirmPasswordForm" id="confirm-password" placeholder="Confirm Password" required aria-required="true" required>
        {{ if ne .UserContent.Error.PasswordMatch "null" }}
            <span class="form__error">{{ .UserContent.Error.PasswordMatch }}</span>
        {{ end }}

        <button class="button button__med" type="submit" aria-label="Register button">Register</button>
        <!-- <div class="form-buttons">
        </div> -->
      </form>

      <!-- "Already have an account?" link below the Register button -->
      <div class="register-link">
          <p>Already have an account?<a href="/nav-login" class="link" role="button" aria-controls="loginForm">Login</a></p>
      </div>

  </div>

  <!-- Right side: social login buttons -->
  <div class="container__block__main form__socials" role="complementary" aria-label="Social register options">
    
    <h3 class="form__title">Register with:</h3>

    <div class="form">   
      <button class="button__socials" onclick="window.location.href='https://localhost:8080/google';" aria-label="Register with Google">{{template "ico_google"}}Register with Google</button>
      <button class="button__socials" onclick="window.location.href='https://localhost:8080/github';" aria-label="Register with GitHub">{{template "ico_github"}}Register with Github</button>
      <button class="button__socials" onclick="window.location.href='https://localhost:8080/discord';" aria-label="Register with Discord">{{template "ico_discord"}}Register with Discord</button>
    </div>

  </div>

  <button class="form__close button__small" onclick="window.location.href='/';" aria-label="Close the login form">{{template "ico_close"}}</button>

</div>
{{end}}