{{define "block/content/like"}}

<section class="container__block__inner">
    {{if and (eq .UUID .User_UUID) (eq .Role "User")}}
      {{if gt (len .LikedPosts) 0}}<h3>Mes posts likés</h3>{{ end }}
    {{else}}
      {{if gt (len .LikedPosts) 0}}<h3>Tout ce que l'utilisateur a liké</h3>{{ end }}
    {{end}}
    
    {{range .LikedPosts}}
      {{if eq .Status "liked"}}
        <div class="post">
          <h3>Post Title: {{ .Title }}, Category: {{ .Category_ID }}</h3>
          <p>Post text: {{ .Text }}</p>
          <p>Creation date: {{ .Creation_Date }}{{ .Creation_Hour }}</p>
        </div>
      {{end}}  
    {{end}}
    
    {{if and (eq .UUID .User_UUID) (eq .Role "User")}}
      {{if gt (len .LikedPosts) 0}}<h3>Mes posts dislikés</h3>{{ end }}
    {{else}}
      {{if gt (len .LikedPosts) 0}}<h3>Tout ce que l'utilisateur a disliké</h3>{{ end }}
    {{end}}
    
    {{range .LikedPosts}}
      {{if eq .Status "disliked"}}
        <div class="post">
          <h3>Post Title: {{ .Title }}, Category: {{ .Category_ID }}</h3>
          <p>Post text: {{ .Text }}</p>
          <p>Creation date: {{ .Creation_Date }}{{ .Creation_Hour }}</p>
        </div>
      {{end}}  
    {{end}}
    </section>
    {{end}}