{{define "block/content/post"}}
<article id="{{.ID}}" class="block__article" aria-label="Forum post" role="article">
  <header>
    <!-- alt. -->
    <!-- <p class="post__date" aria-label="Post date" role="definition"></p>{{/* .Creation_Date */}}/{{/* .Creation_Hour */}}</p> -->
    
    <!-- title -->
    <h2 class="post__title" aria-label="Post title" role="heading" id="post-title-1">{{ .Title }}</h2>
    <h3></h3><a href="/profile-user?uuid={{ .User_UUID }}">{{ .Username }}</a></h3>
    <!-- categories -->
    {{ if .Category_ID }}
    <div>
      <p class="tag">{{/* .Category_Name */}}{{.Category_ID}}</p>
    </div>
    {{ end }}
  </header>
  
  <section>
    <div>
      <!-- todo add {{/* image_alt */}} later -->
      {{if .ImagePath}}
      <figure aria-label="Post image" role="img">
        <img src="/static/uploads/{{ .ImagePath }}" alt="{{ .Title }}"
        onerror="console.error('Image failed to load. Path:', this.src)">
      </figure>
      {{ end }}
      
      <!-- post content -->
      <div aria-label="Post content" role="contentinfo" id="post-content-1">
        <p>{{ .Text }}</p>
      </div>
    </div>
    <!-- date -->
    <p class="post__date" aria-label="Post date" role="definition">{{ .CreatedAt.Format "January 2, 2006, 15:04" }}</p>
  </section>

  <section class="actions">
    <div class="block__action">
      <div class="block__action block__author">
        <!-- EDIT -->
        {{ if or (eq .Data.Role "Moderator") (eq .Data.Role "Admin") (eq .IsAuthor "yes")}}
          {{ template "block/form/post_delete" . }}
          {{ template "block/form/post_modify" . }}
        {{end}}
      </div>
      <div class="block__action">
        <!-- REPORT -->
        {{ if ne .Data.Role "Guest"}}{{template "block/moderator/report" .}}{{end}}
        <!-- action (like/dislike) -->
        {{ template "block/form/like" .}}
      </div>
    </div>

  </section>
  
  <footer>
    <!-- <hr> -->
    <h3>Comments</h3>
    <!-- add comment -->
    {{if ne .Data.Role "Guest"}}
      <div>{{template "block/form/comment_add" .}}</div>
    {{end}}
    <!-- show comments -->
    {{ if .Comments }}
    <ul class="comments">
      {{ range .Comments }}
      <li id="{{.ID}}" class="comment">
        <!-- Comment content -->
        {{ template "block/content/comment" . }}
      </li>
      {{ end }}
    </ul>
    {{else}}
    <i>Oh No! There's no comments...</i>
    {{ end }}
  </footer>
  <!-- </div> -->
</article>
{{end}}