{{define "block/nav/main_lite"}}
<header role="banner" aria-label="Site Header">

  <div class="container header" aria-hidden="false">

    <div class="logo" aria-label="Site Logo">
      <span>Hello-There</span>
    </div>

    <nav class="nav" role="navigation" aria-label="Main Navigation">

    <div id="nav-guest" class="nav nav-guest" aria-label="Guest Navigation">
      <a href="" aria-label="Sign Up">Sign Up</a>
      <a href="" aria-label="Login">Login</a>
    </div>

    <button id="theme-toggle" class="theme-toggle auto" aria-label="Toggle theme" aria-pressed="false"></button>
    
    </nav>

  </div>

</header>
{{end}}
