{{define "block/nav/main"}}
<header role="banner">

  <div class="container header">

  <div class="logo">
    <span>Hello-There</span>
  </div>

  <nav class="nav" role="navigation">

    {{ if eq .UserContent.Role "Guest" }}
    <div id="nav-guest" class="nav nav-guest">
      <a href="">Sign Up</a>
      <a href="">Login</a>
    </div>
    {{ else }}
    <!-- todo, import user pop-up (popup/...) -->
    <div id="nav-user" class="nav nav-user">
      <div class="notification">
        <img class="icon icon-notification" src="/static/icon/bell-ringing-2.svg" alt="Notification icon">
        {{ if .UserContent.notification }}<div class="notification-number">{{ .UserContent.notification }}</div>{{ end }}
      </div>
      <div class="profil">
        <span>N</span>
      </div>
    </div>
    add pop-up action
     <form action="/profile">
      <button>Profile</button>
    </form> 
    <form action="/logout">
      <button>Log out</button>
    </form>
    {{ end }}

    <button id="theme-toggle" class="theme-toggle auto" aria-label="Toggle theme"></button>
    
  </nav>

  </div>

</header>
{{end}}
