/* TODO, add these notes to the doc
BEM is a naming convention that helps to create a consistent and maintainable CSS codebase. It's based on the idea of breaking down a component into three main parts:

Block: The main component, such as a header, footer, or navigation.
Element: A part of the block, such as a title, button, or link.
Modifier: A variation of the block or element, such as a different color, size, or state.
Here's an example of how BEM can be used to name CSS classes:

Block: .header
Element: .header__title
Modifier: .header--dark or .header__title--large
*/

/*
------------------------------------------
ROOT VARIABLES
------------------------------------------
*/

:root {
  color-scheme: light dark;

  /* common */
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-size-default: 16px;
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-small: 14px;
  --font-size-button: 16px;
  --line-height: 1.5em;
  --word-spacing: 0.2em;
  --letter-spacing-default: 0.03em;
  --letter-spacing-title: 0.05em;

  /* light */
  --text-color-light: #F9B872;
  --bkg-color-light: #EFEFFF;
  --nav-bg-color-light: #5960CB;
  --foot-bg-color-light: #5960CB;
  --hover-text-light:#FAE7A5;
  --hover-bg-light: #5960CB;

  /* dark */
  --text-color-dark: #a58c71;
  --bkg-color-dark: #191919;
  --nav-bg-color-dark: #0e0e0e;
  --foot-bg-color-dark:#0e0e0e;
  --hover-text-dark:#191919;
  --hover-bg-dark:#a58c71;

}

/*
------------------------------------------
DARK/LIGHT VARIABLES
------------------------------------------
*/

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --bkg-color: var(--bkg-color-dark);
    --alert-color: var(--alert-color-dark);
    --nav-bg-color: var(--nav-bg-color-dark);
    --foot-bg-color: var(--foot-bg-color-dark);
    --hover-text:var(--bkg-color-dark);
    --hover-bg:var(--text-color-dark);
  }
  /* add filter for the images in the dark mode */
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --bkg-color: var(--bkg-color-light);
    --alert-color: var(--alert-color-light);
    --nav-bg-color: var(--nav-bg-color-light);
    --foot-bg-color: var(--foot-bg-color-light);
    --hover-text:var(--bkg-color-light);
    --hover-bg:var(--text-color-light);
  }
}

:root.dark-theme {
  --text-color: var(--text-color-dark);
  --bkg-color: var(--bkg-color-dark);
  --alert-color: var(--alert-color-dark);
  --nav-bg-color: var(--nav-bg-color-dark);
  --foot-bg-color: var(--foot-bg-color-dark);
  --hover-bg:var(--hover-bg-dark);
  --hover-text:var(--bkg-color-dark);
  --hover-bg:var(--text-color-dark);
}

:root.light-theme {
  --text-color: var(--text-color-light);
  --bkg-color: var(--bkg-color-light);
  --alert-color: var(--alert-color-light);
  --nav-bg-color: var(--nav-bg-color-light);
  --foot-bg-color: var(--foot-bg-color-light);
  --hover-text:var(--bkg-color-light);
  --hover-bg:var(--text-color-light);
}

/*
------------------------------------------
RESET (minimal)
------------------------------------------
*/

/*
## minimal CSS reset system:
- Resets the box model to use border-box for all elements
- Sets the font family, size, and line height for the body element
- Removes text decoration and sets the color to inherit for links
- Sets the maximum width and height for images
- Removes list styles and padding/margin for lists
- Sets the border collapse and spacing for tables
- Resets the font family, size, and padding/margin for form elements
- Sets the font weight and margin bottom for headings
- Sets the margin bottom for paragraphs
*/

/* Box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Lists */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

/* Other */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}


/*
------------------------------------------
DEBUG
! for testing purpose
------------------------------------------
*/

.wrapper{
  /* border: 2px dashed red; */
}
.container{
  /* border: 2px dashed green; */
}

/*
------------------------------------------
STYLES
------------------------------------------
*/

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family-main);
  line-height: var(--line-height);
  font-size: var(--font-size-default);
  word-spacing: var(--word-spacing);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bkg-color);
}

/*
------------------------------------------
CONTENT
------------------------------------------
*/

main {
  flex: 1; /* Take remaining space */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}
main .container{
  flex: 1;
}

.Line {
  height: 8px;
  background-color: rgb(202, 202, 202);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes full viewport height */
}

.container {
  width: 80%;
  max-width: 1014px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

/* Components */

.icon{
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

/* NAV BAR
------------------------------------------
*/

/*Create post area style */
  /* it maybe still a bit buggy, need some more work */
form {
  max-width: 600px; /* Set a max width for the form */
  margin: 20px auto; /* Center the form */
  padding: 20px; /* Add padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Rounded corners */
  background-color: (--bkg-color); /* Light background color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Style for select dropdown */
select {
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside the dropdown */
  margin-bottom: 20px; /* Space below the dropdown */
  border: 1px solid #ccc; /* Border for the dropdown */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

/* Style for labels */
label {
  display: block; /* Make labels block elements */
  margin-bottom: 5px; /* Space below labels */
  font-weight: bold; /* Bold text */
}

/* Style for textareas */
.post-title-area {
  height: 40px;
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside the textarea */
  margin-bottom: 20px; /* Space below textareas */
  border: 1px solid #ccc; /* Border for the textarea */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  resize: none; /* Allow vertical resizing only */
}
.post-content-area, .comment-area, .modify-area{
  width: 100%; /* Full width */
  height: 130px; /* Set a height */
  padding: 10px; /* Padding inside the textarea */
  margin-bottom: 20px; /* Space below textareas */
  border: 1px solid #ccc; /* Border for the textarea */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  resize: none; /* Allow vertical resizing only */
}

/* General Style for all the button */
button {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block; /* Make links block elements */
  padding: 10px 10px 10px 10px;; /* Padding for links */
  margin: 7px;

  border: none;
  border-radius: 10px;
  text-decoration: none; /* Remove underline from links */
  justify-content: space-between;

  color: var(--text-color); /* Text color */
  cursor: pointer;
}

/*-------------------------------------*/

header {
  background-color: var(--nav-bg-color);
  /* padding: 10px 20px; */
}

.container.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  /* gap: 20px; */
  padding: 4px 20px;
}

.container>.logo{
  flex: 1;
  align-items: center;
  align-content: stretch;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.container>.logo>a{
  background-color: var(--bkg-color);
  font-size: 18px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.logo a:hover{
  transform: scale(1.10);
}

.profil_thumb{
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--text-color);
  background-color: var(--text-color);
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border: 1px solid var(--text-color);
  transition: transform 0.3s ease;
  cursor: pointer;
}
/* user thumbnail (username's first letter) */
.profil_thumb>span {
  font-size: 0;
  margin-top: 1.3rem;
  user-select: none;
  font-weight: bold;
  color: var(--bkg-color);
  color: var(--bkg-color);
}

.profil_thumb>span:first-letter {
  font-size: 60px;
  text-transform: uppercase;
}


/* dropdown */
.profile-dropdown {
  display: none;
  position: absolute; /* Position it absolutely */
  background-color: var(--bkg-color); /* Background color */
  border: 1px solid var(--text-color); /* Border */
  z-index: 1; /* Ensure it appears above other elements */
  margin-top: 200px; /* Add some padding */
  padding: 10px; /* Padding for links */
  animation: fadeIn 0.3s ease-in-out forwards; /* Fade in effect */
  width: auto;

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.profil_thumb:focus-within .profile-dropdown {
  display: block; /* Show dropdown when profil_thumb is focused or hovered */
  font-size: 1.5em;
}



.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: end;
  gap: 10px;
  /* padding: 10px 10px 10px 0px; */
  min-height: 68px;
  /* min-width: 273px; */
}

.nav>.notification{
  width: auto;
  height: 48px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.link{
  text-decoration: underline;
}

.link{
  text-decoration: underline;
}

.notification-number{
  width: auto;
  height: auto;
  border-radius: 6px;
  background: #2B9756;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  padding: 1px 3px 0px 3px;
}

/* header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

header nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-default);
}

nav ul li a:hover {
  color: var(--hover-text);
  background-color: var(--hover-bg);
} */

/* 
------------------------------------------
POSTS & FORMS
------------------------------------------
*/

/* Create post-Area */

/*--------------------------------------------------------*/

.post__main{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post__container, .form__container{
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--text-color);
  position: relative; /* important for the close button */
  margin-bottom: 1em;
  border-radius: 0.25em;
}

.post__content, .form__content{
  flex-grow: 1;
  padding: 1em;
  border: 1px dashed var(--text-color);
}

.post__content article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-bottom: 1px dashed var(--text-color);
  padding-bottom: 1em;
}

/* ACTIONS (Like/Dislike) */

.like__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5em;
}

.like__content {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

.form__socials{
  min-width: 30%;
  flex-grow: 0;
}

.form__title{
  font-size: var(--font-size-h2);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.form > input {
	margin-bottom: 0.6em;
	padding: 0.5em;
}

.form > button {
	padding: 1em;
}

.form__close {
	position: absolute;
	right: 1.5em;
	top: 1.5em;
}

.form__login{

}

.form__register{

}

.form__error{
  color: red;
}

.comments>form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* width: 100%; */
  flex-grow: 1;
}

.comments textarea {
padding: 1em;
}

.button__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
}

button.button__socials>svg {
  margin-right: 1em;
}

.button__socials>.ico{
  margin-right: 0.5empx;
}

/* ICONS */

.icon {
  width: 1.5em;
  height: 1.5em;
}

/* MSG, NOTIFICATION & ALERTS */

.alert__guest__post {
  padding: 1em;
  background-color: var(--text-color);
  color: var(--bkg-color);
}

.alert__guest__post>p {
  margin-bottom: 0px;
}

/* BUTTONS */

.liked {
  color: red;
}

/* THEME button ------------------------------------------*/

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: var(--background-color);
  color: red; */
}

.theme-toggle svg {
  width: 24px;
  height: 24px;
  /* fill: var(--text-color); */
  stroke: var(--text-color);
}

button#theme-toggle.theme-toggle.light>.theme-toggle__dark {
  display: none;
}
button#theme-toggle.theme-toggle.light>.theme-toggle__auto {
  display: none;
}
button#theme-toggle.theme-toggle.dark>.theme-toggle__light {
  display: none;
}
button#theme-toggle.theme-toggle.dark>.theme-toggle__auto {
  display: none;
}
button#theme-toggle.theme-toggle.auto>.theme-toggle__light {
  display: none;
}
button#theme-toggle.theme-toggle.auto>.theme-toggle__dark {
  display: none;
}

/* FOOTER ------------------------------------------*/

footer {
  background-color: var(--foot-bg-color);
  /* color: white; */
  text-align: center;
  /* padding: 1rem 0; */
  margin-top: auto; /* Pushes the footer to the bottom */
}

/* UNSET CSS classless system */

body {
  width: 100%;
  grid-template-columns: unset !important;
  margin: auto 0;
}

body>* {
  grid-column: unset !important;
}

main {
  padding-top: 0px !important;
}

.wrapper {
  width: 100%;
  grid-column: unset;
}

/* MEDIA queries */
/* Desktop */
@media only screen and (max-width: 1024px) {

}

/* Tablets and smartphone */
@media only screen and (max-width: 768px) {
  .post__container, .form__container{
    flex-direction: column;
  }
}

/* MEDIA queries */
/* Desktop */
@media only screen and (max-width: 1024px) {

}

/* Tablets and smartphone */
@media only screen and (max-width: 768px) {
  .post__container, .form__container{
    flex-direction: column;
  }
}

/* TEST */

.notification-alert {
  color : orange;
}
