/* TODO, add these notes to the doc
BEM is a naming convention that helps to create a consistent and maintainable CSS codebase. It's based on the idea of breaking down a component into three main parts:

Block: The main component, such as a header, footer, or navigation.
Element: A part of the block, such as a title, button, or link.
Modifier: A variation of the block or element, such as a different color, size, or state.
Here's an example of how BEM can be used to name CSS classes:

Block: .header
Element: .header__title
Modifier: .header--dark or .header__title--large
*/

/*
------------------------------------------
ROOT VARIABLES
------------------------------------------
*/

:root {
  color-scheme: light dark;

  /* common */
  --font-family-main: Arial, Helvetica, sans-serif;
  --font-size-default: 16px;
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-small: 14px;
  --font-size-button: 16px;
  --line-height: 1.5em;
  --word-spacing: 0.2em;
  --letter-spacing-default: 0.03em;
  --letter-spacing-title: 0.05em;

  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  /* GRUVBOX */
  /* GRUVBOX dark */
  --dark0_hard: #1d2021;
  --dark0: #282828;
  /* bg dark */
  --dark0_soft: #32302f;
  --dark1: #3c3836;
  /* fg light */
  --dark2: #504945;
  --dark3: #665c54;
  --dark4: #7c6f64;
  --dark4_256: #7c6f64;

  --gray_245: #928374;
  --gray_244: #928374;

  /* GRUVBOX light */
  --light0_hard: #f9f5d7;
  --light0: #fbf1c7;
  /* bg light */
  --light0_soft: #f2e5bc;
  --light1: #ebdbb2;
  /* fg dark */
  --light2: #d5c4a1;
  --light3: #bdae93;
  --light4: #a89984;
  --light4_256: #a89984;

  --bright_red: #fb4934;
  --bright_green: #b8bb26;
  --bright_yellow: #fabd2f;
  --bright_blue: #83a598;
  --bright_purple: #d3869b;
  --bright_aqua: #8ec07c;
  --bright_orange: #fe8019;

  --neutral_red: #cc241d;
  --neutral_green: #98971a;
  --neutral_yellow: #d79921;
  --neutral_blue: #458588;
  --neutral_purple: #b16286;
  --neutral_aqua: #689d6a;
  --neutral_orange: #d65d0e;

  --faded_red: #9d0006;
  --faded_green: #79740e;
  --faded_yellow: #b57614;
  --faded_blue: #076678;
  --faded_purple: #8f3f71;
  --faded_aqua: #427b58;
  --faded_orange: #af3a03;

  /* light */
  --text-color-light: #F9B872;
  --bkg-color-light: #EFEFFF;
  --bkg-color-highlight-light: #191919;
  --nav-bg-color-light: #5960CB;
  --foot-bg-color-light: #5960CB;
  --hover-text-light: #FAE7A5;
  --hover-bg-light: #5960CB;

  /* dark */
  --text-color-dark: #a58c71;
  --bkg-color-dark: #191919;
  --bkg-color-highlight-dark: #313131;
  --nav-bg-color-dark: #0e0e0e;
  --foot-bg-color-dark: #0e0e0e;
  --hover-text-dark: #191919;
  --hover-bg-dark: #a58c71;

}

/*
------------------------------------------
DARK/LIGHT VARIABLES
------------------------------------------
*/

/* for browser prefs */

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light1);
    --bkg-color-soft: var(--dark0_soft);
    --bkg-color: var(--dark0);
    --bkg-color-hard: var(--dark0_hard);
    --bkg-color-highlight: var(--bkg-color-highlight-dark);
    --alert-color: var(--alert-color-dark);
    --nav-bg-color: var(--nav-bg-color-dark);
    --foot-bg-color: var(--foot-bg-color-dark);
    --hover-text: var(--bkg-color-hard);
    --hover-bg: var(--text-color-dark);
  }

  /* add filter for the images in the dark mode */
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--dark1);
    --bkg-color-soft: var(--light0_soft);
    --bkg-color: var(--light0);
    --bkg-color-hard: var(--light0_hard);
    --bkg-color-highlight: var(--bkg-color-highlight-light);
    --alert-color: var(--alert-color-light);
    --nav-bg-color: var(--bright_yellow);
    --foot-bg-color: var(--foot-bg-color-light);
    --hover-text: var(--bkg-color-soft);
    --hover-bg: var(--text-color-light);
  }
}

/* for manual prefs */

:root.dark-theme {
  /* --text-color: var(--text-color-dark);
  --bkg-color: var(--bkg-color-hard);
  --alert-color: var(--alert-color-dark);
  --nav-bg-color: var(--nav-bg-color-dark);
  --foot-bg-color: var(--foot-bg-color-dark);
  --hover-bg: var(--hover-bg-dark);
  --hover-text: var(--bkg-color-hard);
  --hover-bg: var(--text-color-dark); */
  --text-color: var(--light1);
  --bkg-color-soft: var(--dark0_soft);
  --bkg-color: var(--dark0);
  --bkg-color-hard: var(--dark0_hard);
  --bkg-color-highlight: var(--bkg-color-highlight-dark);
  --alert-color: var(--alert-color-dark);
  --nav-bg-color: var(--nav-bg-color-dark);
  --foot-bg-color: var(--foot-bg-color-dark);
  --hover-text: var(--bkg-color-hard);
  --hover-bg: var(--text-color-dark);
}

:root.light-theme {
  /* --text-color: var(--text-color-light);
  --bkg-color: var(--bkg-color-soft);
  --alert-color: var(--alert-color-light);
  --nav-bg-color: var(--nav-bg-color-light);
  --foot-bg-color: var(--foot-bg-color-light);
  --hover-text: var(--bkg-color-soft);
  --hover-bg: var(--text-color-light); */
  --text-color: var(--dark1);
  --bkg-color-soft: var(--light0_soft);
  --bkg-color: var(--light0);
  --bkg-color-hard: var(--light0_hard);
  --bkg-color-highlight: var(--bkg-color-highlight-light);
  --alert-color: var(--alert-color-light);
  --nav-bg-color: var(--bright_yellow);
  --foot-bg-color: var(--foot-bg-color-light);
  --hover-text: var(--bkg-color-soft);
  --hover-bg: var(--text-color-light);
}

/*
------------------------------------------
RESET (minimal)
------------------------------------------
*/

/*
## minimal CSS reset system:
- Resets the box model to use border-box for all elements
- Sets the font family, size, and line height for the body element
- Removes text decoration and sets the color to inherit for links
- Sets the maximum width and height for images
- Removes list styles and padding/margin for lists
- Sets the border collapse and spacing for tables
- Resets the font family, size, and padding/margin for form elements
- Sets the font weight and margin bottom for headings
- Sets the margin bottom for paragraphs
*/

/* Box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: sans-serif;
  font-size: var(--font-size-default);
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* Lists */
li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

/* Other */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  margin-bottom: 1em;
}

/*
------------------------------------------
DEBUG
! for testing purpose only
------------------------------------------
*/

/* VISUALIZE blocks */

/* .wrapper{
  border: 2px dashed red;
}
.container{
  border: 2px dashed green;
} */

/* UNSET CSS classless system */

/* body {
  width: 100%;
  grid-template-columns: unset !important;
  grid-column: unset !important;
  margin: auto 0;
}

main {
  padding-top: 0px !important;
}

.wrapper {
  width: 100%;
  grid-column: unset;
}

.container__block {
  padding: 1em;
  border: 1px solid var(--text-color);
}

.container__block__main {
  border: 1px dashed var(--text-color);
} */

/*
------------------------------------------
STYLES COMMON
------------------------------------------
*/

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family-main);
  line-height: var(--line-height);
  font-size: var(--font-size-default);
  word-spacing: var(--word-spacing);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bkg-color-hard);
  /* background-image: url(/static/img/pattern_christmas_dark.png); */
}

/*
------------------------------------------
CONTENT
------------------------------------------
*/

/* TEST: links with background/hover */
a {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0 0.25em;
}

.block__article a, .block__categories a {
  margin: 0;
}

.block__article section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: red; */
  top: 0;
  left: 0;
  z-index: -1;
  /* Send the pseudo-element behind the text */
  border-radius: 0.25em;
}

a:hover::after {
  background: green;
}

main {
  flex: 1;
  /* Take remaining space */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

main .container {
  flex: 1;
}

.Line {
  height: 8px;
  background-color: rgb(202, 202, 202);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

/* Components */

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

/*
------------------------------------------
NAV
------------------------------------------
*/

.wrapper>header {
  background-color: var(--nav-bg-color);
  /* padding: 10px 20px; */
}

.container.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  /* gap: 20px; */
  padding: 4px 20px;
}

.container>.logo {
  flex: 1;
  align-items: center;
  align-content: stretch;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.container>.logo>a {
  background-color: var(--bkg-color);
  font-size: 18px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.logo a:hover {
  transform: scale(1.10);
}

.profil_thumb {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--text-color);
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  border: 0.5px solid var(--text-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* user thumbnail (username's first letter) */
.profil_thumb>span {
  font-size: 0;
  margin-top: 1.3rem;
  user-select: none;
  font-weight: bold;
  color: var(--bkg-color);
  color: var(--bkg-color);
}

.profil_thumb>span:first-letter {
  font-size: 60px;
  text-transform: uppercase;
}

.nav .showhide {
  position: relative;
  /* for the dropdown menu */
}

/* dropdown */
.profile-dropdown {
  flex-direction: column;
  gap: 0.25em;
  position: absolute;
  background-color: var(--bkg-color-soft);
  z-index: 1;
  right: calc(-140px / 4);
  top: 60px;
  padding: 1em;
  animation: fadeIn 0.3s ease-in-out forwards;
  width: auto;
  box-shadow: var(--box-shadow);
}

.profile-dropdown:after {
  content: "";
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent var(--bkg-color-soft) transparent;
}

.js__toggle__block {
  display: none;
  /* flex-direction: column;
  gap: 0.5em;
  padding: 0.5em; */
}

.js__toggle__block.active {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: end;
  gap: 10px;
  min-height: 68px;
}

.nav>.notification {
  width: auto;
  height: 48px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.link {
  text-decoration: underline;
}

.link {
  text-decoration: underline;
}

.notification-number {
  width: auto;
  height: auto;
  border-radius: 6px;
  background: #2B9756;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  padding: 1px 3px 0px 3px;
}

/* 
------------------------------------------
POSTS & FORMS
------------------------------------------
*/

article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.post__select,
.post__title__input,
.post__content__textarea,
.comment-area,
.modify-area {
  padding: 0.5em;
  outline: none;
  border: none;
}

.post__content__textarea,
.comment-area,
.modify-area {
  /* resize: none; */
  max-width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  margin-bottom: 10px;
}

.block__post {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* outer container (contains inner__container aka blocks) */
.container__block {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* padding: 1em; */
  position: relative;
  /* important for the close button */
  margin-bottom: 1em;
}

.container__block:last-child {
  margin-bottom: 0;
}

.container__block__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 1em; */
  gap: 1em;
}

.container__block__main.block__categories {
  flex-grow: 0;
}

.container__block__main.block__post {
  width: 80%;
}

.container__block__main.posts {
  padding: 0px;
}

.container__block__main form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.block__post header,
.block__post section,
.block__post footer {
  /* background-color: red; */

}

.block__post footer {
  background-color: var(--bkg-color-soft);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.post {
  /* background-color: red; */
  margin-bottom: 1em;
}

.post:last-child {
  /* background-color: green; */
  margin-bottom: 0;
}

#registerForm, #loginForm, .container__block__inner {
  /* flex-grow: 0; */
  padding: 1em;
  border: 0.5px solid var(--bkg-color-soft);
  background-color: var(--bkg-color);
  border-radius: 0.25em;
}

.post__content article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-bottom: 1px dashed var(--text-color);
  padding-bottom: 1em;
}

/* FILTERS */


.filters {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.block__filters form select {
  width: 100%;
  /* height: 2em; */
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-family-main);
  /* appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

.block__filters form select:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 
.block__filters form button[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-family-main);
  background-color: var(--bkg-color);
  color: var(--text-color);
  cursor: pointer;
}

.block__filters form button[type="submit"]:hover {
  background-color: var(--hover-bg);
}

form button[type="submit"]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

option:hover {
  color: var(--text-color);
  background-color: var(--bkg-color);
}

.block__filters:hover select option:not(:checked) {
  color: var(--bkg-color);
  background-color: var(--text-color);
}

input:focus, select:focus, textarea:focus {
  background-color: var(--bkg-color-soft);
  border-width: 1px;
  border-color: var(--bright_blue);
  outline: none;
  box-shadow: none;
}

select:focus option:checked {
  background-color: red !important;
  color: orange !important;
}

/* .form__socials {
  min-width: 30%;
  flex-grow: 0;
} */

.form__socials {
  min-width: 30%;
  flex-grow: 0;
  padding-left: 1em;
  border-left: 1px solid var(--bkg-color-hard);
}

.form__title {
  font-size: var(--font-size-h2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.form>textarea,
.form>input, 
.form select {
  color: var(--bkg-color);
  background-color: var(--text-color);
  margin-bottom: 0.6em;
  padding: 0.5em;
}

.form__close {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

.form__login {}

.form__register {}

.form__error {
  color: red;
}

.register-link>p{
  margin-bottom: 0;
}

/* COMMENTS */

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bkg-color-hard);
  /* border-radius: 0.25em; */
  background-color: var(--bkg-color);
  padding: 0.5em;
}


.comments>form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* width: 100%; */
  flex-grow: 1;
}

.block__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment__action, .comment__action form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: end;
}

.comment__auth {
  display: flex;
  gap : 0.25em;
  /* justify-content: flex-end; */
}

/* 
.comment__action .block__author {
  align-self: auto;
} */

/* .comment__action {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-self: end;
  justify-content: space-between;
} */


/* .comment ,.comment__action{
  gap: 0.25em;
} */


.comments textarea {
  padding: 1em;
}


.post__date, .comment__date {
  justify-content: end;
  align-self: end;
  font-size: 0.8em;
}

/* POPUP */

/* Full-screen overlay */
.popup-container {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Popup styling */
.popup {
  background-color: var(--bkg-color);
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  width: 100%;
  max-width: 640px;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: var(--bkg-color);
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 640px;
  width: 100%;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.pop__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*
------------------------------------------
ICONS
------------------------------------------
*/

.icon {
  width: 1.5em;
  height: 1.5em;
}

/* MSG, NOTIFICATION & ALERTS */

.alert__post-guest {
  padding: 1em;
  background-color: var(--text-color);
  color: var(--bkg-color);
}

.alert__post-guest h2 {
  margin-bottom: 0;
}

.alert__post-guest>p {
  margin-bottom: 0px;
}

/* BUTTONS */

button {
  display: flex;
  /* flex-direction: row; */
  gap: 0.25em;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;
  text-wrap: nowrap;
}

button:disabled {
	background-color: var(--dark2);
	border-color: var(--dark4);
}

button:disabled:hover {
	background-color: var(--dark2) !important;
	border-color: var(--dark4) !important;
}

button:disabled>svg{
  stroke: var(--dark4);
}

.button__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button__socials>svg {
  margin-right: 1em;
}

.button__socials>.ico {
  margin-right: 0.5empx;
}


.button__icon {
  /* background-color: blue; */
}



.button__big {
  width: 100%;
  padding: 1em;
  font-size: large;
  border-radius: 0.5em;
}

.button__med {
  width: 100%;
  padding: 0.5em;
  /* font-size: large; */
  border-radius: 0.5em;
}

.button__small{
  padding: 0.5em;
  /* font-size: large; */
  border-radius: 0.5em;

}

.button__big,
.button__med,
.button__small {
  background-color: var(--faded_blue);
  border: 1px solid var(--neutral_blue);
}

.button__big:hover,
.button__med:hover,
.button__small:hover {
  background-color: var(--neutral_blue);
  border: 1px solid var(--faded_blue);
}

/* .button__big.form__new-comment{
  background-color: var(--bright_green);
  border: 1px solid var(--neutral_green);
} */


.button__author {
  background-color: var(--faded_red);
  border: 1px solid var(--neutral_red);
}

.button__author:hover {
  background-color: var(--neutral_red);
  border: 1px solid var(--faded_red);
}

button.report {
  background-color: var(--bright_orange);
  border: 1px solid var(--neutral_orange);
}

button.report:hover {
  background-color: var(--neutral_orange);
  border: 1px solid var(--bright_orange);
}

.button__like {
  background-color: var(--neutral_blue);
  border: 1px solid var(--faded_blue);
}

.button__like:hover {
  background-color: var(--faded_blue);
  border: 1px solid var(--neutral_blue);
}


/* ACTIONS (Like/Dislike) */

.like__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.25em;
}

.like__number {
  display: block;
  background-color: red;
  position: absolute;
  right: -0.25em;
  top: -1em;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  font-size: 0.8em;
  min-width: 2em;
  text-align: center;
  user-select: none;
}
.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1em; 
}
.block__author {
  gap: 0.25em;
  display: flex;
  flex-direction: row;
}

.block__action {
  gap: 0.25em;
}

.like__content {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  position: relative;
}


.liked {
  background-color: var(--bright_yellow);

}


/* PROFILE */


/* ADMIN */

.admin ul {
  display: flex;
  flex-direction: column;
}

.admin li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block__dashboard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* THEME button ------------------------------------------*/

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: var(--background-color);
  color: red; */
}

.theme-toggle svg {
  width: 24px;
  height: 24px;
  /* fill: var(--text-color); */
  stroke: var(--text-color);
}

/* svg icons theme */
button#theme-toggle.theme-toggle.light>.theme-toggle__dark {
  display: none;
}

button#theme-toggle.theme-toggle.light>.theme-toggle__auto {
  display: none;
}

button#theme-toggle.theme-toggle.dark>.theme-toggle__light {
  display: none;
}

button#theme-toggle.theme-toggle.dark>.theme-toggle__auto {
  display: none;
}

button#theme-toggle.theme-toggle.auto>.theme-toggle__light {
  display: none;
}

button#theme-toggle.theme-toggle.auto>.theme-toggle__dark {
  display: none;
}

/* FOOTER ------------------------------------------*/

footer {
  /* background-color: var(--foot-bg-color); */
  /* color: white; */
  /* text-align: center; */
  /* padding: 1rem 0; */
  /* Pushes the footer to the bottom */
  /* margin-top: auto; */
}

/* ANIMATION */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
    top: 2em;
  }

  to {
    opacity: 0;
    top: 3em;
  }
}

/* MEDIA queries */
/* Desktop */
@media only screen and (min-width: 1025px) {
  .container__block {}
}

/* Tablets and smartphones */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .container__block {
    flex-direction: column;
  }

  .container__block__main.block__post {
    width: 100%;
  }
  .form__socials {
    padding-left: 0em;
    border-left: 0px;
    padding-top: 1em;
    border-top: 1px solid var(--bkg-color-hard);
  }
}

/* ACCESSIBILITY */
/* help text for screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


/* TEST */

/* .alert__notification {
  color : orange;
} */


/*  */
/* 
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  margin-bottom: 10px;
} */

.post__select,
.post__title__input,
.post__content__textarea {
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

.post__select {
  width: 100%;
  max-height: 5em;
  height: auto;
}

.post__title__input {
  width: 100%;
}

.post__content__textarea {
  width: 100%;
  resize: vertical;
}

/* .submit-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3e8e41;
} */
 
/* test for the tag  */
.tag {    
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 10px 16px 8px 0;
  padding: 0 10px 0 12px;
  background: var(--dark0_soft);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1px 2px var(--box-shadow);
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 2px var(--dark0_soft);
  font-weight: bold;
  }
 .tag:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent var(--dark0_soft) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
    }

 .tag:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    box-shadow: -1px -1px 2px var(--box-shadow);
    }

    .post__title {
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--light1);
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      transition: color 0.3s ease;
    }
/* part for the Style of the profile page */
  .container__block__inner {
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
      padding: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease;
  }
  
  .container__block__inner:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      transform: translateY(-3px);
  }
  
  .profile_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
  }
  
  h2 {
      color: var(--primary-color);
      margin-bottom: 10px;
  }
  
  p {
      color: var(--light-text-color);
      margin-bottom: 8px;
  }
  
  .button:hover {
      background-color: var(--secondary-color);
      transform: scale(1.05);
  }
  
  .button__med {
      font-size: 14px;
  }
  
  ul {
      list-style-type: none;
  }
  
  section ul li {
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 10px;
      border-left: 4px solid var(--primary-color);
      transition: all 0.3s ease;
  }
  
  section ul li:hover {
      transform: translateX(10px);
  }
  
  section.container__block__inner.like {
      display: flow-root;
  }
  
  section.container__block__inner.block__dashboard {
      display: flow-root;
  }
  
  section.container__block__inner.notification_count {
      display: inline-grid;
      float: right;
      padding-bottom: 180px;
  }
  
  section.container__block__inner.your_post {
      display: flow-root;
  }
  
  section.container__block__inner.your_comment {
      display: flow-root;
      float: right;
      text-align: end;
  }
  
  .post {
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 15px;
  }
  
  .post h3 {
      color: var(--primary-color);
      margin-bottom: 10px;
  }