<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/login_css/forgot.css" rel="stylesheet" />
    <title>Forgot Password</title>
</head>
<body>

    <div class="container">
        <h2>Forgot Password</h2>
        <form action="#">
            <input type="email" placeholder="Enter your email" required>
            <button type="submit">Reset Password</button>
        </form>
        <div class="back-to-login">
            <p><a href="login.html">Back to Login</a></p> <!-- Link to go back to the login page -->
        </div>
    </div>

</body>
</html>
