{{define "request-post"}}
{{ if (eq .UserContent.Role "Admin") (eq .UserContent.Role "Moderator")}}
<div class="request#">
    <h1 class="title">Post Title: {{ .Title }}</h1>
    <h4 class="username">{{ .Username }}</h4>
    <h4 class="username">{{ .CreatedAt }}</h4>
    <div class="actionmodo">
        <button class="yes">
          <i class="fa fa-thumbs-up"></i> YES
        </button>
        <button class="no">
          <i class="fa fa-thumbs-down"></i> NO
        </button>
      </div>
</div>
{{end}}