{{define "filters"}}
{{ if and (ne .Role "Admin") (ne .Role "User") (ne .Role "Moderator") }}
    <div class="filtre">
    <h2>Filters</h2>
        <form action="/filters" method="GET">
            <div class="date-publication">
                <label for="Period">Date de publication :</label>
                <select id="Period" name="Period">
                    <option value="week">Cette semaine</option>
                    <option value="month">Ce mois</option>
                    <option value="year">Ce mois</option>
                </select>
            </div>
            <div class="nombre-like">
                <label for="Like">Nombre de like :</label>
                <select id="Like" name="Like">
                    <option value="1-10">1-10 like</option>
                    <option value="11-50">11-50 like</option>
                    <option value="51-100">51-100 like</option>
                    <option value="plus-de-100">Plus de 100 like</option>
                </select>
            </div>
            <div class="nombre-dislike">
              <label for="Dislike">Nombre de like :</label>
              <select id="Dislike" name="Dislike">
                  <option value="1-10">1-10 dislike</option>
                  <option value="11-50">11-50 dislike</option>
                  <option value="51-100">51-100 dislike</option>
                  <option value="plus-de-100">Plus de 100 dislike</option>
              </select>
          </div>
            <button type="submit">Filtrer</button>
        </form>
</div>
{{end}}
{{end}}