{{define "block/action_like-dislike"}}
<div aria-label="Post actions" role="contentinfo" class="post-actions">
  <div aria-label="Comments" role="definition">
    <span aria-label="Number of comments" role="definition">{{/* comments_count */}}</span>
    <a href="#comments" aria-label="Link to comments" role="button">Comments</a>
  </div>
  <div aria-label="Likes" role="definition">
    <span aria-label="Number of likes" role="definition">{{/* likes_count */}}</span>
    <button aria-label="Like button" role="button" aria-pressed="{{/* liked */}}" {{ if eq .Role "Guest" }}'disabled'{{ else }}''{{ end }} >
      <i class="ico ico_like" aria-hidden="true"></i>
      Like
    </button>
  </div>
  <div aria-label="Dislikes" role="definition">
    <span aria-label="Number of dislikes" role="definition">{{/* dislikes_count */}}</span>
    <button aria-label="Dislike button" role="button" aria-pressed="{{/* disliked */}}" {{ if eq .Role "Guest" }}'disabled'{{ else }}''{{ end }}>
      <i class="ico ico_dislike" aria-hidden="true"></i>
      Dislike
    </button>
  </div>
</div>
{{end}}
