{{define "block/post"}}
{{ if eq .UserContent.Role "Guest" }}
<div class="posting">
    <h1 class="title">Post Title: {{ .Title }}</h1>
    <h4 class="categorie">Category: {{ .Category_ID }}</h4>
    <h4 class="username">{{ .Username }}</h4>
    <h4 class="username">{{ .CreatedAt }}</h4>
</div>
{{else}}
<div class="posting">
  <h1 class="title">Post Title: {{ .Title }}</h1>
  <h4 class="categorie">Category: {{ .Category_ID }}</h4>
  <h4 class="username">{{ .Username }}</h4>
  <h4 class="username">{{ .CreatedAt }}</h4>
</div>
{{template .icons}}
{{end}}