<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Groupify</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/CSS/profile.css' crossorigin="anonymous">
</head>
<body>
  <form method="POST">
    <a>Email: </a><textarea id="EmailForm" required> </textarea>
    <a>Username: </a><textarea id="UsernameForm" required> </textarea>
    <a>Password: </a><textarea id="PasswordForm" required> </textarea>
  </form>
</body>
</html>