{{define "block/share/meta"}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png"/>
<link rel="manifest" href="/static/img/site.webmanifest" />
<!-- classless CSS -->
 <!-- SimpleCSS -->
<!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
 <!-- NEW -->
<!-- <link rel="stylesheet" href="https://cdn.jsDeliver.net/npm/@exampledev/new.css/new.min.css" /> -->
 <!-- Water -->
<!-- <link rel="stylesheet" href="https://cdn.jsDeliver.net/npm/water.css/out/water.min.css" /> -->
<!-- MVP -->
<!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css" /> -->
<!-- Pico -->
<!-- <link rel="stylesheet" href="https://cdn.jsDeliver.net/npm/@picocss/pico/css/pico.min.css" /> -->
<!-- Bolt -->
<!-- <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css" /> -->

<link rel="stylesheet" href="/static/css/styles.css" />
<!-- <link rel="stylesheet" href="/static/css/login_css/login.css" /> -->
{{end}}
