{{define "layout/alt"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{if .Data.IsError}}Error {{.Data.ErrorCode}} - {{end}}{{if .Data.Title}}{{.Data.Title}}{{end}}</title>
    {{template "share/meta" .}}
</head>

<body>
    <div>
        <p>LAYOUT[alt]</p>
    </div>
    <div class="wrapper">
        {{template "block/banner" .}}
        <main role="main">
            {{if .Data.IsError}}
            <h1>Error {{.Data.ErrorCode}}</h1>
            {{else}}
            <h1>{{.Data.Header}}</h1>
            {{end}}
            {{.Content}}
        </main>
        <!-- <footer>
        <p>&copy; 2024 My Web App</p>
    </footer> -->
        <script src="/static/js/script.js"></script>
    </div>
</body>

</html>
{{end}}