{{define "layout/error"}}

<!-- needed -->

<!DOCTYPE html>
<html lang="en">

{{ template "block/share/head" }}

<body>
  <div>
  </div>
  <div class="wrapper">
    {{/* template "blocks/debug/banner_error" . */}}

    <!-- note: added a lite version of the main nav block, without any variables -->
    {{ template "block/nav/main_lite" . }}

    <main role="main">
      <div class="container">
        {{if .Data.IsError}}
        <h1 role="heading" aria-level="1">Error {{.Data.ErrorCode}}</h1>
        {{.Data.Content.Msg_raw}}
        {{end}}
        {{if .Content}}{{.Content}}{{else}}<p>^^ no content</p>{{end}}
      </div>
    </main>

    {{template "block/nav/footer" .}}
    
    <script src="/static/js/theme.js"></script>
  </div>
</body>

</html>
{{end}}