{{define "layout/index"}}

<!-- /!\ default layout -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- todo, modify Title -->
    <title>{{if .Data.IsError}}Error {{.Data.ErrorCode}} - {{end}}{{if .Data.Title}}{{ .Data.Title }}{{end}}</title>
    {{ template "share/meta" . }}
    {{ if .Data.Title }}{{ template "share/meta_social" . }}{{ end }}
</head>

<body>
    <div>
    </div>
    <div class="wrapper">

        <div class="container">
            {{/* template "block/banner" . */}}  <!-- not for production -->
            {{ template "block/nav" . }}
        </div>    

        {{ if eq .UserContent.Role "Guest" }}
        <div class="container">
            <!-- todo, add condition -->
            {{ template "block/login" . }}
            {{ template "block/register" . }}
        </div>
        {{ end }}

        <main role="main">
            <div class="container">
                <!-- <p>LAYOUT[index]</p> -->
                {{if .Data.IsError}}
                <h1 role="heading" aria-level="1">Error {{.Data.ErrorCode}}</h1>
                {{else}}
                <h1 role="heading" aria-level="1">{{.Data.Header}}</h1>
                {{end}}
                {{ .Content }}
            </div>
        </main>

        {{/* template "block/footer" . */}} <!-- not for production -->

        <script src="/static/js/theme.js"></script> <!-- import for the js (theme) -->
    </div>
</body>

</html>
{{end}}
