{{define "layout/post"}}

<!-- post layout -->

<!DOCTYPE html>
<html lang="en">

{{ template "block/share/head" }}
{{if eq .Role "Admin"}}

{{end}}
<body>

    <div class="wrapper" role="document">

        <!-- dev banner (force error), not for production -->
        {{ template "block/dev/force-error" . }}

        <!-- main nav -->
        {{ template "block/nav/main" . }}
        <article aria-label="Forum post" role="article">
          <header>
            <h2 aria-label="Post title" role="heading" id="post-title-1">
              <a href="#post-content-1" aria-label="Link to post content">
                {{ .Username }}: {{ .Title }}
              </a>
            </h2>
            
            <div>
              <strong>Categorie:</strong> {{ .Category_ID }}
            </div>
        
            <!-- Check if it's the Author of the post -->
            {{ if or (eq .Data.Role "Moderator") (eq .Data.Role "Admin") (eq .IsAuthor "yes")}}
            <div>
              <form method="GET" action="/delete">
                <input type="hidden" name="delete" value="post">
                <input type="hidden" name="id" value="{{ .ID }}">
                <button type="submit">Delete my post</button>
              </form>
              <form method="GET" action="/modify">
                <input type="hidden" name="delete" value="post">
                <input type="hidden" name="id" value="{{ .ID }}">
                <textarea type="hidden" name="content"></textarea>
                <button type="submit">Modify my post</button>
              </form>
            </div>
            {{end}}
        
            <p aria-label="Post date" role="definition">
              {{ .CreatedAt.Format "2006-01-02 à 15:04:05" }}
            </p>
          </header>
        
          <!-- post image -->
          {{ if .ImagePath }}
          <figure aria-label="Post image" role="img">
            <img 
              src="/static/uploads/{{ .ImagePath }}" 
              alt="{{ .Title }}" 
              aria-label="Post image" 
              role="img"
              class="post-image"
            >
          </figure>
          {{ end }}
        
          <!-- post content -->
          <div aria-label="Post content" role="contentinfo" id="post-content-1">
            {{ .Text }}
          </div>
        
          <!-- action (like/dislike) -->
          <div class="block__action">
            <div class="like__content">
              <h2 class="like__number">{{if .Like }}{{ .Like }}{{ else }}0{{end}}</h2>
              <form action="/like" method="POST">
                <input type="hidden" name="id" value="{{ .ID }}">
                <button name="like_post" value="like_post" class="ico__like {{ if eq .Status "liked" }}liked{{end}}" {{ if eq .Data.Role "Guest" }}disabled{{end}}>
                  {{ template "ico_thumb-up"}}
                </button>
              </form>
            </div>
            <div class="like__content">
              <h2 class="like__number">{{if .Dislike }}{{ .Dislike }}{{ else }}0{{end}}</h2>
              <form action="/like" method="POST">
                <input type="hidden" name="id" value="{{ .ID }}">
                <button name="dislike_post" value="dislike_post" class="ico__like {{ if eq .Status "disliked" }}liked{{end}}" {{ if eq .Data.Role "Guest" }}disabled{{end}}>
                  {{ template "ico_thumb-down"}}
                </button>
              </form>
            </div>
          </div>
        
          <!-- add comment -->
          <div>{{template "block/content/comment_add" .}}</div>
        
          <!-- show comments -->
          {{ if .Comments }}
          <h2>Comments</h2>
          <ul>
            {{ range .Comments }}
            <li>
              {{ template "block/content/comment" . }}
            </li>
            {{ end }}
          </ul>
          {{else}}
            Oh No! There's no comments...
          {{ end }}
        </article>
        {{end}}
        <main role="main" aria-label="Main content">
            <div class="container" role="region" aria-label="Page content container">
            {{if .Data.IsError}}
            <!-- if error -->
                <h1 role="heading" aria-level="1">Error {{.Data.ErrorCode}}</h1>
                {{ .Content }}
            {{else}}
            {{ if eq .UserContent.Role "Guest" }}
            
                <!-- todo, add condition for login/register -->
                {{ template "block/login" . }}
                {{ template "block/register" . }}
            
            {{ end }}
            
            <!-- page content -->
            {{if .Content}}{{.Content}}{{else}}<p role="definition">no content</p>{{end}}

            </div>
        </main>

        {{/* template "block/nav/footer" . */}} <!-- not for production (no use) -->

        <script src="/static/js/script.js"></script> <!-- import for the js (theme) -->
    </div>
</body>
{{ end }}